.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/*=============================
          FOOTER
===============================*/

footer {
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 240px;
  padding: 50px 30px 20px 30px;
  background-color: #60605b;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-head {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0px;
}

.footer-section-description {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #d0d0cf;
  text-align: center;
}

/*====================
        CAROUSEL
======================*/
.carousel-wrapper {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  background-size: cover !important;
}

.slide-description {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 400px;
  height: 160px;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  background-color: rgba(1, 1, 1, 0.64);
}

.slide-description-header {
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 21px 70px 0px 70px;
  text-transform: uppercase;
}

.slide-description-content {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/*====================
        ARTICLE
======================*/

.article-wrapper {
  display: flex;
  max-width: 1020px;
  margin: 40px auto 0px auto;
  align-items: flex-start;
  justify-content: left;
}

.article-column {
  margin: 0px 30px;
  width: 540px
}

.article-title {
  color: #e67e22;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.article-time-wrapper {
  color: #336666;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 20px;
}
.article-time {
  margin-left: 7px;
}

.article-content {
  color: #60605b;
  margin-bottom: 10px;
}

/* .more-btn {
  background: #0d1831;
  color: #ffffff;
  border: 1px solid #0d1831;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 3px;
} */