.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  flex: 1 0 auto;
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*=============================
          HEADINGS
===============================*/

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #e67e22;
  margin: 20px;
  text-align: center;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #e67e22;
  margin: 0px;
  text-align: center;
}

/*=============================
            UNDER CONSTRUCTION
===============================*/
.under-the-construction {
  text-align: center;
  /* margin-top: 50px; */
  background-size: 5px 5px !important;
  /* min-height: 100vh; */
  text-align: center;
  font-size: 60px;
  color: #d5ebfe;
}

.under-the-construction img {
  margin-top: 30px;
  background: transparent;
}

.under-the-construction p {
  margin: 20px 100px;
}

/*=============================
          HEADER
===============================*/
.headerLogo {
  height: 50px;
}

.logo-wraper {
  padding: 15px 0px;
}

@media only screen and (max-width: 480px) {
  .headerLogo {
    height: 30px;
  }
}
.navbar-customization {
  background-color: "#fafafa";
  align-items: "center";
  padding: "0 2%";
}

.link-customization {
  color: #336666 !important;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 10px;
}

.link-customization:hover {
  border-bottom: 2px solid #e67e22;
  color: #e67e22;
}
.toggler-customization {
  border: 2px solid #e67e22 !important;
}

/*=============================
          FOOTER
===============================*/

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #60605b;
  flex: 0 0 auto;
  position: relative;
  z-index: 2;
}
.footer-columns {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-section-head {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0px;
}

.footer-section-description {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: #d0d0cf;
  text-align: center;
}

/*====================
        CAROUSEL
======================*/
.carousel-wrapper {
  height: 600px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .carousel-wrapper {
    height: 300px;
  }
}

.carousel-image {
  background-size: cover !important;
}

.slide-description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 80%;
  left: 50%;
  width: 400px;
  height: 160px;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  background-color: rgba(1, 1, 1, 0.64);
}

@media only screen and (max-width: 768px) {
  .slide-description {
    top: 50%;
  }
}

.slide-description-header {
  margin: 6px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  /* padding: 21px auto 0px auto; */
  text-transform: uppercase;
}

.slide-description-content {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/*====================
        ARTICLES
======================*/

.article-wrapper {
  display: flex;
  max-width: 1020px;
  padding: 20px 0px 10px 0px;
  align-items: flex-start;
  justify-content: left;
  border-bottom: 2px solid #336666;
}

.article-column {
  margin: 0px 30px;
  width: 540px;
}

.article-title {
  color: #e67e22;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}

.article-time-wrapper {
  color: #336666;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 20px;
}
.article-time {
  margin-left: 7px;
}

.article-content {
  color: #60605b;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.article-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .article-element:last-child {
    display: none;
  }
}

.all-news-btn {
  margin-bottom: 20px;
}

/*====================
        BIG ARTICLE
======================*/
.big-article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.big-article-wrapper img {
  height: 500px;
  border-radius: 5%;
}
.big-article-body {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}

/*====================
        FOR PARENTS
======================*/

.for-parents-slide:hover .for-parents-slide-text-wrapper {
  background-color: #e67e22;
}
.for-parents-slide:hover .for-parents-slide-img {
  opacity: 1;
  transform: scale(1.03);
}
.for-parents-section-wrapper {
  padding: 30px 0px;
  background-color: #d0d0cf;
}
.for-parents-slide-text-wrapper {
  margin: 100px 25px;
  width: 350px;
  height: 100px;
  border: white solid;
  position: absolute;
  z-index: 10;
  background-color: rgba(1, 1, 1, 0.3);
}

.for-parents-slide-text {
  text-align: center;
  padding-top: 25px;
  margin: 0px;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}
.for-parents-slide-img {
  height: 300px;
  width: 400px;
  margin: 0px;
  opacity: 0.7;
}

/*====================
        RESPONSES
======================*/

.responses {
  width: 40%;
  margin: 50px auto;
}
.quote {
  position: absolute;
  color: #336666;
  font: italic 500px Roboto;
  margin: -100px 0px 0px -100px;
  opacity: 20%;
}

.response-item-content {
  font: italic 15px Roboto;
  margin: 20px 40px;
}
.response-item-owner {
  font: bold 20px Roboto;
  color: #336666;
  margin: 0px 20px;
  text-align: center;
}

/*====================
        GALLERY
======================*/
.gallery-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/gallery-bck.jpg");
  background-repeat: repeat;
}
.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.gallery-item img {
  height: 800px;
  margin: 20px auto;
}

/*====================
        CONTACTS
======================*/
.contacts-wrapper {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .contacts-body {
    display: flex !important;
    flex-direction: column !important;
  }
}

.contacts-body {
  padding: 30px 50px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.contacts-column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-column p {
  color: #60605b;
  margin: 5px 0px 0px 0px;
}

.map-responsive {
  overflow: hidden;
  position: relative;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 500px;
  /* position: absolute; */
}

@media only screen and (max-width: 620px) {
  .map-responsive iframe {
    width: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .map-responsive iframe {
    width: 220px;
  }
}
